body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
	background-color: black;
}

nav a.current {
	background-color: #999;
	color: black;
}

nav ul {
	list-style: none;
	display: flex;
	margin: 0 5em;
	padding: 0;
}

nav a {
	display: flex;
	padding: .5em;
	text-decoration: none;
	color: #fff;
}