extends ../layout

block content
  h1= title
  form(name="login",method="post")
    label(for="username") Username:
    input(type="text",name="username")
    label(for="password") Password:
    input(type="password",name="password")
    button Login
